.header-banner__image {
    height: auto;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: inherit!important;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}

.header-banner__text-wrapper {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%);
    width: 90%;
    z-index: 1001;
}

.header-banner {
    background-color: #333;
    height: 90vh;
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.card+.card {
    margin-top: 20px;
}